@charset "utf-8";
/* CSS Document */
html,body,ul,li,ol,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0px;padding:0px;}
body{margin:0 auto;font-size:12px;font-family:"Arial";height:auto;}
html{overflow-x:hidden;}
div{margin:0px auto;}
a{text-decoration:none;font-size:12px;cursor: pointer;color:#333;font-family:"Arial";}
a:hover{color:#62a7a5;zoom:1;}
img{border:none;vertical-align:top;}
ul,li{list-style:none;background:none;}
*html{background-image:url(about:blank);background-attachment:fixed;}/**解决ie6中的颤动效果**/
h1,h2,h3,h4,h5,h6,i,em{font:12px/17px Arial, Helvetica, sans-serif;font-style:normal;}
div{margin:0 auto;}
em{font-style:normal;}


/* index_hd */
.index_hd{width:1180px;left: 50%; top: 50%;position: absolute;transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */height:555px;overflow:hidden;border-bottom:1px solid #ddd;}
.index_hd .hd_l{width:590px;height:535px;overflow:hidden;}
.index_hd .hd_l ul li{position:relative}
.index_hd .hd_r ul li{float:left;width:294px;height:268px;overflow:hidden;border-left:1px #fff solid;position:relative}

.major-item div{
	width: 294px;
	height: 267px;
}

#a1{
	background-color: rgb(255,238,210);
}
#a2{
	background-color: rgb(219,208,167);
}
#a3{
	background-color: rgb(230,155,3);
}
#a4{
	background-color: rgb(209,73,78);
}
#b1{
	background-color: rgb(18,53,85);
}
#b2{
	background-color: rgb(251,252,89);
}
#b3{
	background-color: rgb(203,195,136);
}
#b4{
	background-color: rgb(84,57,138);
}

#circle{
	width: 100px;
	text-align: center;
	height: 100px;
	background: rgb(255,66,93);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:absolute; 
    z-index:99999; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}
#circle a{
	font-weight: bold;
	line-height: 100px;
	color: #c0c0c0;
	font-size: 20px;
}
#circle a:hover{
	font-size: 25px;
	text-decoration: none;
}